<!--@subject Gift Registry created at {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"store url=\"customer/account/\"":"Customer Account Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var owner.getName()|escape":"Owner Name",
"var entity.getTitle()|escape":"Registry Title",
"var entity.getMessage|escape":"Registry Recipients",
"var entity.getUrlKey()|escape":"Registry Url Key",
"var url|escape":"Registry Url"}
@-->
<!--@styles
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var owner.getName()|escape}},</h1>
            <p>Has creado correctamente el siguiente registro de regalo: <br/><br/> registro de regalo:{{var entity.getTitle()|escape}}<br/>
            </p>
            {{if entity.getMessage()}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>Mensaje: {{var entity.getMessage()|escape}}</td>
                </tr>
            </table>
            {{/If}}
            <p>Ahora puede Agregar productos a su registro de regalo. Simplemente vaya a <a href="{{store url=&quot;&quot;}}">{{var store.getFrontendName()}}</a> y añadir los productos que desee a su carro de compras o lista de deseos. Luego puede Agregar los productos en el registro de tu carrito de la compra o la página de lista de deseos.</p>
            <p>También se puede compartir con sus amigos y familiares por ingresar a su cuenta y visitar la ficha de registro de regalo. O, usted puede enviar el siguiente enlace y regalo registro ID a ellos:</p>
            <p>
                Ubicación del registro de regalos: <a href="{{var url|escape}}">{{var url|escape}}</a><br/>regalo registro ID:{{var entity.getUrlKey()|escape}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
