<!--@subject You've been sent a gift from {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var name|escape":"Recipient Name",
"var store.getFrontendName()|escape":"Store Name",
"var code|escape":"Gift Card Code",
"var balance":"Gift Card Balance"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var name|escape}}</h1>
            <p>Ha enviado una tarjeta de regalo para utilizar en {{var store.getFrontendName()|escape}} y ahora está listo para ser utilizado para las compras.</p>
            <p class="highlighted-text">
                <strong>El código de la Gift Card es:</strong> {{var code|escape}}
            </p>
            <p>La tarjeta tiene un balance de <strong>{{var balance}}</strong> que puede ser usado en <a href="{{store url=&quot;/&quot;}}">{{store url="/"}}</a></p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
