<?xml version="1.0" ?>
<config>
    <modules>
        <Sual_Shipping>
            <version>0.1.0</version>
        </Sual_Shipping>
    </modules>
    <global>
        <models>
            <sual_shipping>
                <class>Sual_Shipping_Model</class>
            </sual_shipping>
        </models>
    </global>
    <default>
        <carriers>
            <sual_rates>
                <active>1</active>
                <model>sual_shipping/carrier_rates</model>
                <title>Sual methods</title>
                <name>Sual methods</name>
                <estafeta_title>DLH</estafeta_title>
                <dhl_title>Estafeta</dhl_title>
            </sual_rates>
            <sual_storepickup>
                <active>1</active>
                <model>sual_shipping/carrier_storepickup</model>
                <title>Pickup in Store</title>
                <name>Pickup in Store</name>
                <store1>Store 1</store1>
                <store2>Store 2</store2>
                <store3>Store 3</store3>
                <store4>Store 4</store4>
            </sual_storepickup>
        </carriers>
    </default>
</config>