<?xml version="1.0"?>
<!--
  ~ Magmodules.eu - http://www.magmodules.eu.
  ~
  ~ NOTICE OF LICENSE
  ~ This source file is subject to the EULA
  ~ that is bundled with this package in the file LICENSE.txt.
  ~ It is also available through the world-wide-web at this URL:
  ~ https://www.magmodules.eu/MM-LICENSE.txt
  ~ If you did not receive a copy of the license and are unable to
  ~ obtain it through the world-wide-web, please send an email
  ~ to info@magmodules.eu so we can send you a copy immediately.
  ~
  ~ @category      Magmodules
  ~ @package       Magmodules_Googleshopping
  ~ @author        Magmodules <info@magmodules.eu>
  ~ @copyright     Copyright (c) 2018 (http://www.magmodules.eu)
  ~ @license       https://www.magmodules.eu/terms.html  Single Service License
  -->
<config>
    <modules>
        <Magmodules_Googleshopping>
            <version>1.8.5</version>
        </Magmodules_Googleshopping>
    </modules>
    <global>
        <helpers>
            <googleshopping>
                <class>Magmodules_Googleshopping_Helper</class>
            </googleshopping>
        </helpers>
        <blocks>
            <googleshopping>
                <class>Magmodules_Googleshopping_Block</class>
            </googleshopping>
        </blocks>
        <models>
            <googleshopping>
                <class>Magmodules_Googleshopping_Model</class>
            </googleshopping>
        </models>
        <resources>
            <magmodules_googleshopping_setup>
                <setup>
                    <module>Magmodules_Googleshopping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magmodules_googleshopping_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magmodules_googleshopping after="Mage_Adminhtml">Magmodules_Googleshopping_Adminhtml</magmodules_googleshopping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <googleshopping>
                    <file>magmodules_googleshopping.xml</file>
                </googleshopping>
            </updates>
        </layout>
        <translate>
            <modules>
                <magmodules_googleshopping>
                    <files>
                        <default>Magmodules_Googleshopping.csv</default>
                    </files>
                </magmodules_googleshopping>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <googleshopping>
            <general>
                <enabled>0</enabled>
            </general>
            <data>
                <id>sku</id>
                <name>name</name>
                <description>description</description>
                <condition_type>fixed</condition_type>
                <condition_fixed>new</condition_fixed>
                <gtin>sku</gtin>
                <brand>manufacturer</brand>
                <category_type>fixed</category_type>
            </data>
            <filter>
                <visibility_inc>4</visibility_inc>
            </filter>
            <generate>
                <enabled>1</enabled>
                <filename>google-shopping.xml</filename>
                <cron>0</cron>
                <limit>500</limit>
                <cron_schedule>0 0 * * *</cron_schedule>
                <memory_limit>1024M</memory_limit>
                <max_execution_time>300</max_execution_time>
                <overwrite>0</overwrite>
            </generate>
            <advanced>
                <identifier>1</identifier>
                <producttype>1</producttype>
            </advanced>
        </googleshopping>
    </default>
    <crontab>
        <jobs>
            <googleshopping_generate>
                <run>
                    <model>googleshopping/observer::scheduledGenerateGoogleshopping</model>
                </run>
            </googleshopping_generate>
        </jobs>
    </crontab>
</config>