<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Sual_Banorte>
			<version>1.0.0</version>
		</Sual_Banorte>
	</modules>

	<global>
		<models>
			<banorte>
				<class>Sual_Banorte_Model</class>
			</banorte>
		</models>
		<helpers>
			<banorte>
				<class>Sual_Banorte_Helper</class>
			</banorte>

		</helpers>
		<blocks>
			<banorte>
				<class>Sual_Banorte_Block</class>
			</banorte>
		</blocks>
	</global>

	<default>
        <payment>
            <banorte>
                <active>1</active>
                <model>banorte/payment</model>
                <order_status>pending</order_status>
                <title>Banorte</title>
                <months>0</months>
                <payment_action>authorize</payment_action>
                <cctypes>VI,MC</cctypes>
                <sort_order>0</sort_order>
            </banorte>
        </payment>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <banorte>
                                            <title>Banorte</title>
                                        </banorte>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<frontend>
		<routers>
			<banorte>
				<use>standard</use>
				<args>
					<module>Sual_Banorte</module>
					<frontname>customcard</frontname>
				</args>
			</banorte>
		</routers>
		<layout>
            <updates>
                <banorte>
                    <file>sual_banorte.xml</file>
                </banorte>
            </updates>
        </layout>
	</frontend>
</config>