.block-main-layer {position: fixed;right: -100%;top: 0;bottom: 0;background-color: #fff;width: 310px;padding: 0;z-index: 998;transition: all 0.3s;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;-o-transition: all 0.3s;}
.block-main-layer .block {padding: 0 15px;}
.block-main-layer .block-category-nav {padding-top: 15px;}
.block-main-layer .block .block-title:before {margin-top: -12px;text-align: center;}
.block-main-layer .block .block-title, .block-main-layer .block.block-layered-nav dt, .block-main-layer .block-layered-nav .currently .block-subtitle {padding: 10px 20px;}
.block-main-layer .block-layered-nav .currently li, .block-main-layer .block-layered-nav .currently ol, .block-main-layer .block-layered-nav .actions{padding-left: 10px;padding-right: 20px; }
.block-main-layer .block.block-category-nav .block-title {padding-bottom: 16px;}
.block-main-layer .block.block-layered-nav dt:before {text-align: center;margin-top: -12px;}
.block-main-layer .block.block-layered-nav dd {padding: 10px 20px 26px;}
.block-main-layer .block-category-nav .category-list a.plus {right: -3px;}
.col-left .block-main-layer {left: -100%;right: auto;}
.catalogsearch-result-index .col2-left-layout .col-left.sidebar,
.catalog-category-view .col2-left-layout .col-left.sidebar{overflow: hidden;width: 0px;height:0px;-webkit-flex: 0 0 0%;-moz-flex: 0 0 0%;-ms-flex: 0 0 0%;flex: 0 0 0%;}
.catalogsearch-result-index .col2-left-layout .col-main,
.catalog-category-view .col2-left-layout .col-main{width: 100%;max-width: 100%;-webkit-flex: 0 0 100%;-moz-flex: 0 0 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;}
.mobile-layer-shown .col-left .block-main-layer{z-index: 9999;}
.filter-by-desktop label{cursor:pointer;float:left;display: inline-block;margin: 0;vertical-align: middle;color: #777;font-size: 13px;font-weight: 400;line-height: 37px;}
.layer-filter-icon-i{display: inline-block;line-height: 37px;font-size: 23px;color: #311e50;}
.sort-by .icon-up {color: #311e50;}
.toolbar-bottom .filter-by-desktop.layer-filter-icon {display: none;}
.status-procces {background-color: #2F1A49;display: inline-block;width: 100%;padding: 20px;margin-top: 10px;margin-bottom: 10px;}
.status-procces .steps{width: 33.33%;float: left;color:#969696;text-align: center;font-size: 20px;font-weight: bold;position: relative;}
.status-procces .steps i {font-size: 30px;}
.status-procces .steps i {margin-bottom: 5px;}
.status-procces .steps.active {color: #fff;}
.status-procces .arrow-next {position: absolute;right: 0px;top: calc(50% - 15px);color: #7E4DC5}
@media (min-width:1440px){
	.catalog-category-view .wrapper .col2-left-layout .col-main {width: 100%;max-width: 100%;-webkit-flex: 0 0 100%;-moz-flex: 0 0 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;}
}
@media (max-width:640px){
	.status-procces .steps p{font-size: 12px;margin-bottom: 5px;}
	.status-procces .steps i {font-size: 24px;}
	.layer-filter-icon.visible-sm{display: none!important;}
}

#billing-progress-opcheckout,
#shipping-progress-opcheckout,
#discountFormPoints2,
.discount-form,
.box-account,
.my-account{

    line-height:1.5;
}

.rewards_point_cart{
    margin-bottom:15px;
}

.base-points{
    width: 100%;
    background: #795E73;
    color: white;
    padding: 10px 0;
    font-size: 17px;
    text-align: center;
    max-width: 380px;
}

.reward-5X{
    background: #EF417B;
}

.reward-10X{
    background: #F16852;
}

.reward-15X{
    background: #62B455;
}

.reward-20X{
    background: #005490;
}

.reward-30X{
    background: #FFBB45;
}

.reward-40X{
    background: #BB5D9B;
}


.reward-span-puntos{
    font-weight: normal;
    font-size: 10px;
}


/*.category-products h2{*/
    /*font-size: 30px;*/
    /*width: 100%;*/
    /*border-bottom: 1px solid #e3e4e4;*/
    /*margin-bottom: 1px;*/
    /*padding-bottom: 30px;*/
/*}*/

.logos-footer{
    margin-bottom: 25px;
}

.security-tags{
    text-align: center;
}

.security-tags img{
    height: 40px;
    margin: 5px;
}

#dt_method_oxxo label{
    padding-left: 70px;
}

#dt_method_card label{
    padding-left: 142px;
}
#dt_method_oxxo, #dt_method_card{
    padding: 8px 0;
    background-repeat: no-repeat;
    background-position-x: 19px;
    color: white;
    background-size: contain;
}

#dt_method_oxxo{
    background-image: url(/skin/frontend/smartwave/porto/images/security/img_check-out-oxxo.svg);
}

#dt_method_card{
    background-image: url(/skin/frontend/smartwave/porto/images/security/visa-mastercard-logo.png);
}

.banner-descripcion .fas{
    font-style: normal !important;
}

.banner-descripcion .element-banner{
    margin-top: 40px;
}



.banner-descripcion {
    width: 100%;
    height: 220px;
    background: #2F1A49;
}

.big-ico {
    color: white;
    font-size: 7em;
}

.element-banner {
    width: calc(33% - 27px);
    text-align: center;
    float: left;
}

.element-banner p {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
}

.arrow {
    float: left;
    padding-top: 100px;
    font-size: 40px;
    color: #7E4DC5;
}

#niveles-sual {
    width: 100%;
    float: left;
    height: auto;
    margin-bottom: 50px;
}

.nivel-sual {
    float: left;
    width: calc(33% - 50px);
    margin: 0 25px;
    height: 650px;
}

.nivel-sual .nivel-title, .nivel-sual .nivel-description {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.nivel-sual .nivel-title {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

.nivel-sual .nivel-detail {
    margin-top: 20px;
    width: 100%;
    height: 600px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ecebe9;
    background: rgba(181, 181, 181, 0.4);
    background: -moz-linear-gradient(top, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181, 181, 181, 0.4)), color-stop(99%, rgba(181, 181, 181, 0.1)), color-stop(100%, rgba(181, 181, 181, 0.1)));
    background: -webkit-linear-gradient(top, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#b5b5b5', GradientType=0);
}

.nivel-sual ul {
    margin-left: 0;
    float: left;
    width: 100%;
    padding-left: 0;
}

.nivel-sual ul li {
    list-style: none;
}

#niveles-sual .fas {
    float: left;
    margin-right: 10px;
    padding-top: 5px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    color: #2F1A49;
}

.nivel3 .nivel-title {
    color: #420A3F;
}

.nivel2 .nivel-title {
    color: #72286F;
}

.nivel2 .nivel-detail {
}

.nivel1 .nivel-title {
    color: #846FAA;
}

.nivel1 .nivel-detail {
}

.h2-rew, .more-rewards h2 {
    width: 100%;
    text-align: center;
}

.h3-rew {
    width: 100%;
    text-align: center;
}

.visit-x {
    float: left;
    width: 16.5%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    min-width: 125px;
}

.visit-x img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.visit-x aa {
    border: 4px solid #2F1A49;
    border-radius: 90%;
    color: #2F1A49;
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 94px;
    margin: 0 auto;
    font-weight: bold;
    background: rgba(181, 181, 181, 0.4);
    background: -moz-linear-gradient(top, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181, 181, 181, 0.4)), color-stop(99%, rgba(181, 181, 181, 0.1)), color-stop(100%, rgba(181, 181, 181, 0.1)));
    background: -webkit-linear-gradient(top, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(181, 181, 181, 0.4) 0%, rgba(181, 181, 181, 0.1) 99%, rgba(181, 181, 181, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#b5b5b5', GradientType=0);
}

.more-rewards .extra-text {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.more-rewards{
    margin-top: 30px;
}

.reward-item-stickers{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


@media only screen and (max-width: 1125px) {

    .element-banner p{
        font-size: 1em !important;
    }

    .element-banner .fas{
        font-size: 68px;
    }

    .banner-descripcion .arrow{
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nivel-sual{
        width: calc(100% - 50px) !important;
        height: auto !important;
    }

    .nivel-sual .nivel-detail{
        height: auto !important;
        float: left;
    }
    .more-rewards{
        margin-top: -40px;
    }
}

.menu.side-menu > li{
    margin-bottom: -10px;
}

.header-container.type12.header-newskin .header > .logo{
    margin: 12px 0;
}

/*LABIOS sube*/
.side-menu [data-id="77"]{
    margin-top: -120px !important;
}


/*ACCESORIOS sube*/
.side-menu [data-id="23"]{
    margin-top: -70px !important;
}


/*Tratamiento Corporal sube*/
.side-menu [data-id="144"]{
    margin-top: -100px !important;
}



/*HIDRATANTE FACIAL sube*/
.side-menu [data-id="292"]{
    margin-top: -6px !important;
}

/*REGALOS Y SETS sube*/
.side-menu [data-id="55"]{
    margin-top: -18px !important;
}

/*BEBES sube*/
.side-menu [data-id="43"]{
    margin-top: -77px !important;
}
.subcategory-block ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.subcategory-block li {
    display: inline-block;
    padding: 20px;
    text-align: center;
    width: 25%;
}
.subcategory-block .subcategory img {
    border-radius: 50%;
    height: auto;
    width: 100%;
}
#search_autocomplete {
    background-color: #fff;
}
#search_autocomplete ul {
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    padding: 6px;
}
#search_autocomplete ul li:hover{
    color:#2f1a49;
}



#search_autocomplete ul li {
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #e4e2e3;

}

#search_autocomplete ul li:last-child {
    border-bottom: 0px solid #e4e2e3;

}

@media only screen and (max-width: 768px) {
    .subcategory-block li {
        width: 50%;
    }
}
@media only screen and (max-width: 1125px) {
    .subcategory-block li {
        width: 33.33%;
    }
}

