<?xml version="1.0"?>
<config>
    <modules>
        <Sual_Forms>
            <version>1.0.0</version>
        </Sual_Forms>
    </modules>
    <global>
        <helpers>
            <sual_forms>
                <class>Sual_Forms_Helper</class>
            </sual_forms>
        </helpers>
        <resources>
            <sual_forms_setup>
                <setup>
                    <module>Sual_Forms</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </sual_forms_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <sual_forms>
                    <file>sual_forms.xml</file>
                </sual_forms>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sual_Forms>
                    <files>
                        <default>Sual_Forms.csv</default>
                    </files>
                </Sual_Forms>
            </modules>
        </translate>
    </frontend>
</config>