<div class="content-row" style="padding-top:55px;padding-bottom:80px;">
    <div class="row">
        <div class="col-xl-12">
            <h2>Promociones</h2>
            <h4>En esta sección podrás consultar nuestras promociones vigentes</h4>
            <p>Siempre tenemos diferentes promociones para que acumules más Sual Rewards, descuentos directos, promociones en tiendas físicas y eventos especiales.  </p>
        </div>
        <div class="col-xl-12">
            <div class="row">
                <div class="col-md-7">
                    <img src="/skin/frontend/smartwave/porto/images/assets/beautyWeekend.png" alt="" style="width:95%;display:block;margin:25px auto;" />
                </div>
                <div class="col-md-5">
                    <div class="history-accordion">
                        <ul>
                            <li class="active">
                                <div class="history-title" style="color:#4B0082; font-size:30px;"> Beauty Weekend </div>
                                <div class="history-content" style="display: block;"> <span style= "display: block; color:#8B008B;">
                                    ¡No te puedes perder este fin de semana! </span>
                                    <ul>
                                        <li> Todos tus productos favoritos de belleza tienen desde 15% a 40% en Sual Rewards. </li> <br/>
                                        <li> Envío gratis a partir de $400 de compra </li> <br/>
                                        * Promoción válida sólo para compras en www.sualbeauty.com
                                    </ul>
                                </div>
                            </li>
                            <li class="">
                                <div class="history-title">Obtén más Sual Rewards</div>
                                <div class="history-content" style="display: none;">
                                    Estas promociones consisten en acumular 5x, 10x, 15x, 20x, 30x y hasta 40x en Sual Rewards en los productos participantes.
                                    Los puntos Sual Rewards se acumulan a tu cuenta una vez que hayas pagado el pedido.
                                    Los puntos acumulados los podrás utilizar para comprar más productos o servicios. <p><a href="#SualRewards">Ir a la sección</a></p>
                                </div>
                            </li>
                            <!-- <li class="">
                                 <div class="history-title">Descuento Directo</div>
                                 <div class="history-content" style="display: none;">
                                    Con nuestras promociones de descuento directo aprovecha un precio especial en los productos participantes. <p><a href="#DescuentoDirecto">Ir a la sección</a></p>
                                 </div>
                             </li> -->
                            <li class="">
                                <!-- <div class="history-title">Regalo en Compra</div>
                                 <div class="history-content" style="display: none;">
                                   Compra $2,500 o más en productos y llévate de regalo una practica cosmétiquera Kipling. <br/>
                                   Promoción exclusiva para sualbeauty.com <p><a href="#Regalo">Ver más</a></p>
                                 </div>-->
                            </li>
                            <!--<li class="">
                              <div class="history-title">Happy Hour</div>
                                <div class="history-content" style="display: none;">
                                    Todos los servicios al 2x1. Válido en cualquier tienda de 9 am a 11 am, del 16 al 19 de Noviembre de 2018.
                                </div>
                            </li>-->
                            <!--<li class="">
                                <div class="history-title" style="color:#db0808;">Buen Fin</div>
                                <div class="history-content" style="display: none;">
                                    Todos nuestros productos y servicios tienen de 15x a 40x en Sual Rewards.
                                </div>
                            </li>-->
                        </ul>
                    </div>
                    <script type="text/javascript">
                        jQuery(function($){
                            $(document).ready(function(){
                                $(".history-accordion .history-title").off("click").on("click",function(){
                                    if(!$(this).parent().hasClass("active")) {
                                        $(this).parent().parent().children("li.active").children(".history-content").slideUp();
                                        $(this).parent().parent().children("li.active").removeClass("active");
                                        $(this).parent().addClass("active");
                                        $(this).parent().children(".history-content").slideDown();
                                    } else {
                                        $(this).parent().removeClass("active");
                                        $(this).parent().children(".history-content").slideUp();
                                    }
                                });
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-row fullwidth-row" style="background-color:#efefef;padding:30px 0;">
    <div class="container">
        <h2 style="margin-bottom:40px;"><a name="SualRewards"></a>Obtén más Sual Rewards</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-sual-rewards/40x.html"><img src="{{media url="wysiwyg/porto/aboutus/3/40x.png"}}" alt="40x"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-sual-rewards/30x.html"><img src="{{media url="wysiwyg/porto/aboutus/3/30x.png"}}" alt="30x"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-sual-rewards/20x.html"><img src="{{media url="wysiwyg/porto/aboutus/3/20x.png"}}" alt="20x"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-row fullwidth-row" style="background-color:#efefef;padding:20px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-sual-rewards/15x.html"><img src="{{media url="wysiwyg/porto/aboutus/3/15x.png"}}" alt="15x"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-sual-rewards/10x.html"><img src="{{media url="wysiwyg/porto/aboutus/3/10x.png"}}" alt="10x"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-sual-rewards/5x.html"><img src="{{media url="wysiwyg/porto/aboutus/3/5x.png"}}" alt="5x"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="content-row fullwidth-row" style="background-color:#efefef;padding:30px 0;">
    <div class="container">
        <h2 style="margin-bottom:40px;"><a name="DescuentoDirecto"></a>Descuento Directo</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-descuento-directo/50-porciento.html"><img src="{{media url="wysiwyg/porto/aboutus/3/50PC.png"}}" alt="50%"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-descuento-directo/40-porciento.html"><img src="{{media url="wysiwyg/porto/aboutus/3/40PC.png"}}" alt="40%"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-descuento-directo/30-porciento.html"><img src="{{media url="wysiwyg/porto/aboutus/3/30PC.png"}}" alt="30%"></a>
                </div>
            </div>
          </div>
      </div>
</div>
<div class="content-row fullwidth-row" style="background-color:#efefef;padding:20px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-descuento-directo/20-porciento.html"><img src="{{media url="wysiwyg/porto/aboutus/3/20PC.png"}}" alt="20%"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <a href="/promociones-descuento-directo/10-porciento.html"><img src="{{media url="wysiwyg/porto/aboutus/3/10PC.png"}}" alt="10%"></a>
                </div>
            </div>
            <!--<div class="col-md-3 col-sm-6" style="margin:0 auto;">
                <div class="team-member">
                    <img src="{{media url="wysiwyg/porto/aboutus/3/5x.png"}}" alt="5x">
                </div>-->
<!--/div>
</div>
</div>
</div> -->
<!--<div class="content-row" style="padding-top:75px;padding-bottom:75px;text-align:center;">
    <h2>Ganadores de 500 Sual Rewards</h2>
    <div id="testimonials-slider" class="owl-carousel owl-theme">

        <div class="item">
            <blockquote class="testimonial">
                <p>Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here</p>
            </blockquote>
            <div class="testimonial-author">
                <div class="img-thumbnail img-thumbnail-small"><img width="60" height="60" src="{{media url="wysiwyg/porto/aboutus/4/client1.png"}}" alt=""/></div>
                <p><strong>Antonia B</strong><span>Ganadora 10 Nov '18</span></p>
            </div>
        </div>

           <div class="item">
            <blockquote class="testimonial">
                <p>Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here</p>
            </blockquote>
            <div class="testimonial-author">
                <div class="img-thumbnail img-thumbnail-small"><img width="60" height="60" src="{{media url="wysiwyg/porto/aboutus/4/client1.png"}}" alt=""/></div>
                <p><strong>Laura B</strong><span>Ganadora 11 Nov '18</span></p>
            </div>
        </div>

         <div class="item">
            <blockquote class="testimonial">
                <p>Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here</p>
            </blockquote>
            <div class="testimonial-author">
                <div class="img-thumbnail img-thumbnail-small"><img width="60" height="60" src="{{media url="wysiwyg/porto/aboutus/4/client2.png"}}" alt=""/></div>
                <p><strong>Adriana S</strong><span>Ganadora 10 Nov '18</span></p>

            </div>
        </div>
    </div>
    <script type="text/javascript">
    jQuery(function($){
        $("#testimonials-slider").owlCarousel({
            lazyLoad: true,
            responsiveRefreshRate: 50,
            slideSpeed: 1500,
            paginationSpeed: 1500,
            scrollPerPage: true,
            stopOnHover: true,
            rewindNav: true,
            rewindSpeed: 600,
            pagination: false,
            navigation: false,
            autoPlay: true,
            singleItem: true
        });
    });
    </script>
</div> -->
<style type="text/css">
    .top-container >.breadcrumbs {
        display: none;
    }
    .content-row h2 {
        font-family: 'Oswald';
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        color: #141a1f;
        margin-bottom: 25px;
    }
    .content-row h4 {
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        color: #282d3b;
        margin-bottom: 30px;
    }
    .content-row p {
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        color: #5e6065;
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
        .col-xl-4 {
            -webkit-flex: 0 0 37.5%;
            -moz-flex: 0 0 37.5%;
            -ms-flex: 0 0 37.5%;
            flex: 0 0 37.5%;
            max-width: 37.5%;
        }
        .col-xl-8 {
            -webkit-flex: 0 0 62.5%;
            -moz-flex: 0 0 62.5%;
            -ms-flex: 0 0 62.5%;
            flex: 0 0 62.5%;
            max-width: 62.5%;
        }
    }
    .history-accordion > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .history-accordion .history-title {
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 500;
        color: #282d3b;
        padding: 15px 0;
        position: relative;
        cursor: pointer;
    }
    .history-accordion .history-title:after {
        content: "\e873";
        font-family: 'porto';
        font-size: 8px;
        line-height: 16px;
        width: 16px;
        text-align: center;
        display: block;
        position: absolute;
        right: 0;
        top: 17px;
        color: #fff;
        background-color: #929292;
        border-radius: 50%;
    }
    .history-accordion li.active .history-title:after {
        background-color: #282d3b;
        content: "\e874";
    }
    .history-accordion .history-content {
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        color: #5e6065;
        padding: 20px 0;
    }
    .team-member {
        background-color: #fff;
    }
    .team-member img {
        width: 100%;
        display: block;
    }
    .team-member h5 {
        padding: 30px 0;
        text-align: center;
        font-family: 'Oswald';
        font-size: 16px;
        line-height: 1;
        color: #111;
        font-weight: 400;
        margin: 0;
    }
    blockquote.testimonial {
        border: 0;
        background-color: transparent !important;
        margin: 0;
        padding: 15px 50px 15px 30px;
        position: relative;
        max-width: 650px;
        margin: 0 auto;
    }
    blockquote.testimonial p {
        line-height: 2;
        margin: 0;
        font-size: 16px;
    }
    blockquote.testimonial:before {
        left: 10px;
        top: 0;
        content: "\201C";
        font-style: normal;
        line-height: 1;
        position: absolute;
        color: #141a1f;
        font-family: 'porto';
        font-weight: 400;
        font-size: 30px;
    }
    blockquote.testimonial:after {
        right: 30px;
        bottom: 0;
        content: "\201D";
        font-style: normal;
        line-height: 1;
        position: absolute;
        color: #141a1f;
        font-family: 'porto';
        font-weight: 400;
        font-size: 30px;
        transform: rotateX(180deg);
    }
    .testimonial-arrow-down {
        border:15px solid transparent;
        border-top-color:#ee3d43;
        border-bottom:0;
        height:0;
        margin:0 0 0 25px;
        width:0;
    }
    .testimonial-author {
        margin: 30px 0 0 0;
    }
    .testimonial-author .img-thumbnail {
        position: relative;
        line-height: 1.5;
        background-color: #fff;
        display: inline-block;
        max-width: 100%;
        height: auto;
        border-radius: 50% !important;
    }
    .testimonial-author .img-thumbnail img {
        max-width:60px;
        display:inline-block;
        height:auto;
    }
    .testimonial-author p {
        color:#666;
        line-height:24px;
    }
    .testimonial-author p >strong {
        color: #282d3b;
        display: block;
        padding-top: 20px;
        font-size: 18px;
        font-family: 'Poppins';
        font-weight: 500;
    }
    .testimonial-author span {
        color: #5e6065;
        display: block;
        font-size: 14px;
        font-family: 'Poppins';
        text-transform: none;
    }
    .main-container {
        padding-bottom: 0;
    }
</style>