<style>
    .br-cyber{
        display: none;
    }
    @media only screen and (max-width: 990px) {

        .cyber-monday{
            margin-left: 0px !important;
            font-size: 11px !important;
            line-height: 15px !important;
        }

        #submenu-sual{
            display: none;
        }

        .br-cyber{
            display: inherit !important;
        }
    }

</style>


<div style="width:100%;background-image:url('https://www.sualbeauty.com/skin/frontend/smartwave/porto/images/lights.png');padding:20px 0;text-align:center;background-size:contain;margin-bottom:10px;"></div>
<div class='cyber-monday' style="width: 100%;text-align: center; padding:5px 0; background: #8d66ff; color:white;font-size: 15px;line-height: 25px; margin-left: 100px;">
    <span><strong class="cyber-monday-strong">¡ 1 Día más de CyberMonday ! </strong> &#128132;<br class="br-cyber" />Todos los productos de <strong>15% a 40%</strong> en Sual Rewards. <a href="" style="color:white;font-weight: bold;">Ver productos</a></span>
    <br />
    <span> &#x1F525; Además Obtén <strong>10% adicional</strong> en Sual Rewards &#x1F525;<br class="br-cyber" /> pagando con PayPal <a href="" style="color:white;font-weight: bold;">Compra aquí</a></span>
</div>