<div id="banner-slider-demo-17" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
    <div class="item" style="background:url('/media/imports/banner_NP_Ara_01.jpg') center center no-repeat;background-size:cover;">
        <div class="container" style="position:relative">
            <img style="opacity: 0" src="{{media url="wysiwyg/porto/homepage/slider/17/slide02_img.png"}}" alt="" />
            <div class="slide-2" style="position: absolute; bottom: 27%; width:100%;">
                <div class="container" style="text-align: center;">
                    <div class="text-content" style="display: inline-block; margin-left: 6%;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function($){
        $("#banner-slider-demo-17").owlCarousel({autoPlay:true,lazyLoad:true,stopOnHover: true,pagination: false, autoPlay: true,navigation: true,navigationText:["<i class='icon-chevron-left'></i>","<i class='icon-chevron-right'></i>"],slideSpeed : 500,paginationSpeed : 500,singleItem:true,transitionStyle : "fade"});
    });
</script>
<div style="background-color:#FBFBFB;margin-bottom: 27px;">
    <div class="container">
        <div class="homepage-bar" style="margin:0;">
            <div class="row">
                <div class="col-lg-4" style="text-align:left;">
                    <i class="icon-shipping" style="font-size:35px;"></i><div class="text-area"><h3>ENVíO ESTÁNDAR GRATIS</h3><p> a partir de $800 de compra.</p></div>
                </div>
                <div class="col-lg-4" style="text-align:center;">
                    <i class="icon-us-dollar" style="font-size:37px;"></i><div class="text-area"><h3>MESES SIN INTERESES</h3><p>hasta 3 ó 6 meses sin intereses.</p></div>
                </div>
                <div class="col-lg-4" style="text-align:center;">
                    <i class="icon-gift" style="font-size:37px;"></i><div class="text-area"><h3>SUAL REWARDS</h3><p>Compra y acumula puntos</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {{block type="filterproducts/latest_home_list" product_count="4" category_id="172" column_count="4" template="filterproducts/flex_grid.phtml"}}
</div>

<div class="logos-footer">
    <div class="container-100">
        <div id="brands-slider-demo-17" class="owl-no-narrow flex-owl-slider">
            <div  class="owl-carousel owl-theme">
                <div class="item" style="padding-top:10px;"><img src="/media/banners/img_inicio_marcas_la-roche.png"></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/img_inicio_marcas_givenchy.png"></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/img_inicio_marcas_estee.png" alt="" /></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/Kryolan.png" alt="" /></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/loccitane.png" alt="" /></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/MARC.png" alt="" /></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/NYX.png" alt="" /></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/Pupa.png" alt="" /></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/tarte.png" alt="" /></div>
                <div class="item" style="padding-top:10px;"><img src="/media/banners/themakeupstor.png" alt="" /></div>

            </div>
            <script type="text/javascript">
                jQuery(function($){
                    $("#brands-slider-demo-17 .owl-carousel").owlCarousel({
                        lazyLoad: true,
                        itemsCustom: [ [0, 1], [320, 2], [992, 4], [1200, 6] ],
                        responsiveRefreshRate: 50,
                        slideSpeed: 200,
                        paginationSpeed: 500,
                        scrollPerPage: false,
                        stopOnHover: true,
                        rewindNav: true,
                        rewindSpeed: 600,
                        pagination: false,
                        navigation: false,
                        autoPlay: true
                    });
                });
            </script>
        </div>
    </div>
</div>

<div class="container">
    {{block type="filterproducts/latest_home_list" category_id="77" product_count="4" column_count="4" template="filterproducts/flex_grid.phtml"}}
</div>

<script type="text/javascript">
    jQuery(function($){
        $('#parallax_01').parallax("30%", 0.1);
    });
</script>
<div id="parallax_01" style="background:url('/media/wysiwyg/porto/homepage/slider/15/parallax_01n.jpg') 80% 50% no-repeat fixed; color: #fff; margin: 0 auto; padding: 116px 0 148px; position: relative;">
    <div class="overlay overlay-color" style="background-color: #000000; opacity: 0.2; filter: alpha(opacity=20);top:0;"></div>
    <div class="parallax-slider" style="position: relative; z-index: 3;">
        <div class="container">
            <div class="owl-carousel owl-theme" id="parallax-slider-demo-5">
                <div class="item">
                    <p>Obt&eacute;n <strong class="text-large">10X</strong> en Sual Rewards</p>
                    <h2>CONOCE NUESTROS SERVICIOS DE SAL&Oacute;N</h2>
                    <a class="btn btn-button" href="#">Agenda ahora</a></div>
                <div class="item">
                    <p>Obt&eacute;n <strong class="text-large">40X</strong> en Sual Rewards</p>
                    <h2>NUESTRO SPA</h2>
                    <a class="btn btn-button" href="#">Haz t&uacute; cita</a></div>
                <div class="item">
                    <p>Obt&eacute;n <strong class="text-large">30X</strong> en Sual Rewards</p>
                    <h2>BARRA DE MAQUILLAJE</h2>
                    <a class="btn btn-button" href="#">Vis&iacute;tanos</a></div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function($){
                $("#parallax-slider-demo-5").owlCarousel({navigation : false,slideSpeed : 300,paginationSpeed : 400,    stopOnHover: true,autoPlay: true,singleItem:true});
            });
        </script>
    </div>
</div>

<div class="row" style="margin:0;">
    <div class="col-md-3 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="http://www.portotheme.com/magento/porto/media/wysiwyg/porto/homepage/slider/13/image01n.jpg" width="416" height="300" alt="" />
        </a>
    </div>
    <div class="col-md-3 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="http://www.portotheme.com/magento/porto/media/wysiwyg/porto/homepage/slider/13/image02n.jpg" width="416" height="300" alt="" />
        </a>
    </div>
    <div class="col-md-3 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="http://www.portotheme.com/magento/porto/media/wysiwyg/porto/homepage/slider/13/image03n.jpg" width="416" height="300" alt="" />
        </a>
    </div>
    <div class="col-md-3 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="http://www.portotheme.com/magento/porto/media/wysiwyg/porto/homepage/slider/13/image04n.jpg" width="416" height="300" alt="" />
        </a>
    </div>
</div>

