<style>
    .grid-blocks .col-md-6 {
        min-height: 250px;
        line-height: 250px;
    }

    .grid-blocks span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .grid-blocks h2{
        font-size: 30px;
        color:#777;
    }



    .logos-footer h2{

        width: 100%;
        text-align: center;
        font-size: 30px;
        color:#777;
    }

    .logos-footer{
        width: 90% !important;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
    }

</style>
<div style="width: 80%; margin: 0 auto" class="grid-blocks">
    <div class="row">
        <div class="col-md-6 col-12" style="background: #dbd6ea;"></div>
        <div class="col-md-6 col-12" style="text-align: center">Lorem Ipsum</div>
        <div class="col-md-6 col-12"
             style="background: url(https://www.sualbeauty.com/media/assets/macbackground.jpg); background-position: center; height: 400px"></div>
        <div class="col-md-6 col-12" style="background: #e3e1e3; height: 400px"><span>
            <h2>¿Quiénes somos?</h2>
            Somos una empresa de concepto único e innovador en México de venta de productos y servicios de belleza en un mismo lugar, ofreciendo las mejores marcas para realzar la belleza de cada mujer mexicana.
            Nos encanta dar más a nuestros clientes y por eso contamos con un programa único de lealtad Sual Rewards, en la que cada compra acumulas beneficios.
            Sual busca posicionarse como la tienda número 1 en donde la mujer mexicana pueda vivir una “experiencia de belleza, absoluta”, todo en un mismo lugar.
        </span>
        </div>
    </div>
</div>

<br />
<br />


<div class="logos-footer">
    <br />
    <h2>Trabajamos con</h2>
    <br />

    <div class="container-100">
    <div id="brands-slider-demo-17" class="owl-no-narrow flex-owl-slider">
        <div  class="owl-carousel owl-theme">
            <div class="item" style="padding-top:10px;"><a href="/index.php/too-faced"><img src="/media/banners/toofaced.png"></div></a>
            <div class="item" style="padding-top:10px;"><a href="/tarte"><img src="/media/banners/tarte.png"></div></a>
            <div class="item" style="padding-top:10px;"><a href="/index.php/estee-lauder"><img src="/media/banners/img_inicio_marcas_estee.png" alt="" /></div></a>
            <div class="item" style="padding-top:10px;"><a href="/index.php/mac"><img src="/media/banners/mac.png" alt="" /></div></a>
            <div class="item" style="padding-top:10px;"><a href="/index.php/loccitane"><img src="/media/banners/loccitane.png" alt="" /></div></a>
            <div class="item" style="padding-top:10px;"><a href="/index.php/clinique"><img src="/media/banners/clinique.png" alt="" /></div></a>
            <div class="item" style="padding-top:10px;"><a href="/index.php/grace-cole"><img src="/media/banners/gracecole.png" alt="" /></div></a>
            <div class="item" style="padding-top:10px;"><a href="/comprar-por-marca/pupa.html"><img src="/media/banners/Pupa.png" alt="" /></div></a>
            <div class="item" style="padding-top:10px;"><a href="/comprar-por-marca/make-up-store.html"><img src="/media/banners/themakeupstor.png" alt="" /></div></a>
            <div class="item" style="padding-top:10px;"><a href="/comprar-por-marca/nyx.html"><img src="/media/banners/NYX.png" alt="" /></div></a>

        </div>
        <script type="text/javascript">
            jQuery(function($){
                $("#brands-slider-demo-17 .owl-carousel").owlCarousel({
                    lazyLoad: true,
                    itemsCustom: [ [0, 1], [320, 2], [992, 4], [1200, 6] ],
                    responsiveRefreshRate: 50,
                    slideSpeed: 1000,
                    paginationSpeed: 800,
                    scrollPerPage: false,
                    stopOnHover: true,
                    rewindNav: true,
                    rewindSpeed: 1000,
                    pagination: false,
                    navigation: false,
                    autoPlay: true
                });
            });
        </script>
    </div>
</div>
</div>


<br />
<br />
<br />



<div class="row" style="margin:0;">
    <div class="col-md-2 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="/media/wysiwyg/porto/aboutus/3/5x.png" width="416" height="300" alt="" />
        </a>
    </div>
    <div class="col-md-2 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="/media/wysiwyg/porto/aboutus/3/10x.png" width="416" height="300" alt="" />
        </a>
    </div>
    <div class="col-md-2 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="/media/wysiwyg/porto/aboutus/3/15x.png" width="416" height="300" alt="" />
        </a>
    </div>
    <div class="col-md-2 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="/media/wysiwyg/porto/aboutus/3/20x.png" width="416" height="300" alt="" />
        </a>
    </div>
    <div class="col-md-2 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="/media/wysiwyg/porto/aboutus/3/30x.png" width="416" height="300" alt="" />
        </a>
    </div>
    <div class="col-md-2 col-6" style="padding:0;">
        <a class="image-link" href="#">
            <img src="/media/wysiwyg/porto/aboutus/3/40x.png" width="416" height="300" alt="" />
        </a>
    </div>
</div>



