<div class="row general-content">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <h2 class="h2-rew">¡Ser parte de Sual Rewards es muy fácil!</h2>
    <h3 class="h3-rew">Sigue estos tres pasos</h3>
    <div class="banner-descripcion">
        <div class="element-banner"><p>Compra en Sual Beauty</p> <i class="fas fa-shopping-cart big-ico"></i></div>
        <i class="fas fa-arrow-right arrow"></i>
        <div class="element-banner"><p>Acumula Sual Rewards</p> <i class="fas fa-money-bill-alt big-ico"></i></div>
        <i class="fas fa-arrow-right arrow"></i>
        <div class="element-banner"><p>Canjea por productos</p> <i class="fas fa-gift big-ico"></i></div>
    </div>
    <div id="niveles-sual">
        <div class="nivel-sual nivel1">
            <div class="nivel-title">Nivel Lila</div>
            <div class="nivel-description">Únete a Sual Rewards y disfruta de: <br/> <br/></div>
            <div class="nivel-detail">
                <ul>
                    <li><i class="fas fa-money-bill-alt"></i>
                        <p>Acumula puntos por cada compra</p></li>
                    <li><i class="fas fa-envelope"></i>
                        <p>Obtén invitaciones a nuestros cursos solo para miembros Sual Rewards</p></li>
                </ul>
            </div>
        </div>
        <div class="nivel-sual nivel2">
            <div class="nivel-title">Nivel Violeta</div>
            <div class="nivel-description">Acumula 500 Sual Rewards, alcanza este nivel y suma nuevos beneficios</div>
            <div class="nivel-detail">
                <ul>
                    <li><i class="fas fa-money-bill-alt"></i>
                        <p>Acumula puntos por cada compra</p></li>
                    <li><i class="fas fa-envelope"></i>
                        <p>Obtén invitaciones a nuestros cursos solo para miembros Sual Rewards</p></li>
                    <li><i class="fas fa-award"></i>
                        <p>Sé parte de nuestras promociones exclusivas</p></li>
                    <li><i class="fas fa-gift"></i>
                        <p>Obtén un regalo anual de cumpleaños</p></li>
                    <li><i class="fas fa-envelope-open"></i>
                        <p>Obtén invitaciones a eventos privados</p></li>
                    <li><i class="fas fa-cart-plus"></i>
                        <p>Recibe noticias de nuestras preventas exclusivas</p></li>
                    <li><i class="fas fa-concierge-bell"></i>
                        <p>Obtén prioridad de reservación de servicios</p></li>
                    <li><i class="fas fa-hand-holding-usd"></i>
                        <p>Obtén Promociones personalizadas</p></li>
                </ul>
            </div>
        </div>
        <div class="nivel-sual nivel3">
            <div class="nivel-title">Nivel Púrpura</div>
            <div class="nivel-description">Acumula 2,500 Sual Rewards y vive la mejor experiencia SualReward</div>
            <div class="nivel-detail">
                <ul>
                    <li><i class="fas fa-money-bill-alt"></i>
                        <p>Acumula puntos por cada compra</p></li>
                    <li><i class="fas fa-envelope"></i>
                        <p>Obtén invitaciones a nuestros cursos solo para miembros Sual Rewards</p></li>
                    <li><i class="fas fa-award"></i>
                        <p>Sé parte de nuestras promociones exclusivas</p></li>
                    <li><i class="fas fa-gift"></i>
                        <p>Obtén un regalo anual de cumpleaños</p></li>
                    <li><i class="fas fa-envelope-open"></i>
                        <p>Obtén invitaciones a eventos privados</p></li>
                    <li><i class="fas fa-cart-plus"></i>
                        <p>Recibe noticias de nuestras preventas exclusivas</p></li>
                    <li><i class="fas fa-concierge-bell"></i>
                        <p>Obtén prioridad de reservación de servicios</p></li>
                    <li><i class="fas fa-hand-holding-usd"></i>
                        <p>Obtén Promociones personalizadas</p></li>
                    <li><i class="fas fa-shipping-fast "></i>
                        <p>Obtén códigos de envío gratis</p></li>
                    <li><i class="fas fa-plane-departure"></i>
                        <p>Obtén la posibilidad de tener viajes exclusivos con Sual Rewards</p></li>
                </ul>
            </div>
        </div>
    </div>
</div> <br/> <br/> <br/>
<div class="more-rewards"><h2>CONSIGUE MÁS SUAL REWARDS</h2>
    <p class="extra-text"> Todas tus compras te dan Sual Rewards, por cada $100 acumula 1 Sual Rewards. Para incrementar
        más Sual Rewards aprovecha nuestras promociones de 5X, 10X, 15X, 20X y 40X, en productos seleccionados. </p>

    <div class="reward-item-stickers">
        <p class="visit-x"><a href="https://www.sualbeauty.com/promociones/5x"><img src="/skin/frontend/smartwave/porto/images/assets/5X.jpg"
                                                                                    alt="5x Sual"/></a></p>
        <p class="visit-x"><a href="https://www.sualbeauty.com/promociones/10x"><img src="/skin/frontend/smartwave/porto/images/assets/10X.jpg"
                                                                                     alt="10x Sual"/></a></p>
        <p class="visit-x"><a href="https://www.sualbeauty.com/promociones/15x"><img src="/skin/frontend/smartwave/porto/images/assets/15X.jpg"
                                                                                     alt="15x Sual"/></a></p>
        <p class="visit-x"><a href="https://www.sualbeauty.com/promociones/20x"><img src="/skin/frontend/smartwave/porto/images/assets/20X.jpg"
                                                                                     alt="20x Sual"/></a></p>
        <p class="visit-x"><a href="https://www.sualbeauty.com/promociones/30x"><img src="/skin/frontend/smartwave/porto/images/assets/30X.jpg"
                                                                                     alt="30x Sual"/></a></p>
        <p class="visit-x"><a href="https://www.sualbeauty.com/promociones/40x"><img src="/skin/frontend/smartwave/porto/images/assets/40X.jpg"
                                                                                     alt="40x Sual"/></a></p></div>
    </div>
